/*Changes the color of the entire body*/
body{
  background-color: lightgoldenrodyellow;
  max-width: 960px;
  margin: auto;
  padding: 10px;
}


 /*Changes what the header will look like*/
.header {
  max-width: 960px;
  margin: auto;
  background: lightgoldenrodyellow;
  padding: 10px;
}


/*Gives border box model to all h1 tags*/
h1{
   padding: 25px;
   border : 2px solid skyblue;
   border-radius: 25px;
   box-shadow: 5px 5px 15px skyblue;
   background-color: skyblue;
   margin :auto;
   max-width: 960px;

}

/*Changes color of class navigation*/
.navigation{
  color: skyblue;
  font-size: 23px ;
  max-width: 960px;
  margin: auto;
  padding: 10px;
}


.sidenav {
  height: 100%;
  width: 160px;
  max-width: 960px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: overline;
  font-size: 28px;
  color: lightgoldenrodyellow;
  display: block;
  max-width: 960px;
}
    
/*On hover change color*/
.sidenav a:hover {
  color: #ff0000;
  max-width: 960px;
}


